@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%; 
    --foreground: 220 10% 15%;
    --card: 0 0% 100%;
    --card-foreground: 220 10% 15%;
    --primary: 215 25% 27%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 20% 96%;
    --secondary-foreground: 215 25% 27%;
    --muted: 210 20% 96%;          /* Màu nền nhẹ */
    --muted-foreground: 220 10% 45%;
    --accent: 210 30% 95%;        /* Màu điểm nhấn */
    --accent-foreground: 215 25% 27%;
    --border: 214 32% 91%;
    --input: 214 32% 91%;
    --ring: 215 25% 65%;    /* Hiệu ứng focus */
    --destructive: 0 85% 60%;
    --destructive-foreground: 210 40% 98%;

    --heritage-primary: 25 70% 47%;
    --heritage-light: 30 75% 93%;
    --heritage-dark: 25 80% 25%;
  }
   .dark {
    --background: 220 10% 10%;
    --foreground: 210 40% 98%;
    --card: 220 10% 10%;
    --card-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 220 10% 10%;
    --secondary: 215 25% 15%;
    --secondary-foreground: 210 40% 98%;
    --muted: 215 25% 15%;
    --muted-foreground: 220 10% 70%;
    --accent: 215 25% 15%;
    --accent-foreground: 210 40% 98%;
    --border: 215 25% 20%;
    --input: 215 25% 20%;
    --ring: 215 25% 65%;
    --destructive: 0 60% 40%;
    --destructive-foreground: 210 40% 98%;

    --heritage-primary: 25 70% 47%;
    --heritage-light: 30 20% 20%;
    --heritage-dark: 25 80% 60%;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground font-sans;
  }

  .lcn-container {
    @apply container max-w-7xl mx-auto px-4 sm:px-6 py-16 space-y-16 sm:space-y-24 sm:py-24;
  }

  .lcn-container-x {
    @apply container max-w-7xl mx-auto px-4 sm:px-6
  }

  .lcn-heritage-detail-title {
    @apply text-xl font-medium text-heritage-dark
  }
}
